@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:200,300,400,500,600,700,800,900');
a,
a:hover,
a:focus,
button {
    text-decoration: none !important;
    outline: none !important;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

body,
div,
a,
span,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
img,
i {
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}


/*start header*/

header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    padding: 25px 0;
}

.fixedHeader {
    -webkit-animation-name: animationFade;
    -moz-animation-name: animationFade;
    -o-animation-name: animationFade;
    animation-name: animationFade;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 8px -1px rgba(0, 0, 0, .2);
    z-index: 999;
    padding: 10px 0;
    position: fixed;
    background: #000;
}

@-webkit-keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-moz-keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        transform: none
    }
}

@-o-keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        -o-transform: none;
        transform: none
    }
}

@keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none
    }
}

.logo {
    display: inline-block;
}

.fixedHeader .logo img {
    width: 140px;
}

.navigation {
    background: transparent;
    float: right;
    width: auto;
    box-shadow: none;
    margin-top: 10px;
    height: auto;
}

.fixedHeader .navigation {
    margin-top: 5px;
}

.navigation ul {
    padding: 0;
    margin: 0;
    background: none;
    transition: none;
    list-style-type: none;
}

.navigation li {
    display: inline-block;
    text-align: left;
}

.navigation li a {
    display: block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: initial;
    position: relative;
}

.navigation li a::before {
    content: '';
    position: absolute;
    width: 30px;
    left: 50%;
    height: 2px;
    background: #e7bc00;
    transform: translateX(-50%) scale(0);
    bottom: 0;
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

.nav li a.active {
    color: #FFF;
}

.nav li a.active::before,
.nav li a:hover::before {
    transform: translateX(-50%) scale(1);
}

.nav li a:hover {
    background: transparent;
}

.navigation li:last-child a.joinus-link {
    margin-left: 15px;
}

.nav-mobile {
    display: none;
    font-weight: bold;
    width: 100%;
}

.click-me {
    width: 150px;
    height: 30px;
    background: #435AB8;
    color: white;
    text-align: center;
    line-height: 30px;
}

.click-me a {
    display: block;
    color: white;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        background-color: white;
        margin-left: -30px;
    }
    nav li {
        width: 100%;
    }
    nav li a {
        padding: 0 30px;
    }
    .nav-mobile {
        display: inline-block;
        height: auto;
        line-height: normal;
        position: absolute;
        right: 20px;
        width: auto;
        top: 20px;
    }
}

@media (min-width: 769px) {
    nav ul {
        display: block !important;
    }
}

.joinus-link {
    background: #cf9d1a;
    color: #fff;
    border-radius: 5px;
}

.joinus-link:hover {
    background: #555 !important;
    color: #fff;
}

.joinus-link::before {
    display: none;
}


/*end header*/


/*start banner*/

.banner {
    padding: 200px 0 135px;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-height: 650px;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
}

.banner-text {
    position: relative;
    text-align: center;
}

.banner-text h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 60px;
    margin: 0 auto 20px;
    color: #fff;
    width: 90%;
    line-height: 1.5;
}

.banner-text h3 {
    margin: 0 0 30px;
    color: #d2a118;
    font-size: 30px;
    margin: 0 0 30px;
    font-weight: 300;
}

.theme-btn {
    background: #d2a118;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 25px;
    display: inline-block;
    border-radius: 5px;
    height: auto;
    line-height: inherit;
    letter-spacing: 0;
}

.theme-btn:hover,
.theme-btn:focus {
    background: #010101;
    color: #fff;
}

.scroll-down {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 75px;
}

.scroll-down a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}

.scroll-down a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/*end banner*/


/*start welcome section*/

.welcome {
    padding: 100px 0;
}

.welcome-image {
    position: relative;
    width: 367px;
    margin: 0 auto;
}

.app-slides {
    width: 260px;
    margin: 0 auto;
    position: absolute;
    top: 65px;
    left: 52px;
}

.welcome-image img {
    max-width: 100%;
}

.welcome-text {
    padding-top: 70px;
}

.welcome-text h1 {
    font-size: 40px;
    margin: 0 0 60px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
}

.welcome-text p {
    font-size: 20px;
    color: #585858;
    line-height: 32px;
    text-align: justify;
}

.welcome-text .btn {
    margin-top: 70px;
}


/*end welcome section*/


/*start services-section*/

.our-services {
    padding: 100px 0;
    background: #f9f6f2;
    background-image: url(../images/brush.png), url(../images/ustra.png);
    background-position: left 95%, right 10%;
    background-repeat: no-repeat, no-repeat;
}

.page-heading {
    text-align: center;
}

.page-heading h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #222222;
    font-size: 40px;
    margin: 0;
    font-weight: 600;
}

.page-heading span {
    display: inline-block;
    height: 10px;
    width: 10px;
    background: #cf9d1a;
    transform: rotate(45deg);
    margin: 20px 5px 0;
    position: relative;
}

.box-border {
    border: 1px solid #cf9d1a;
    padding: 5px;
    margin-top: 70px;
    border-radius: 5px;
}

.service-box {
    text-align: center;
    background: #fff;
    padding: 45px 0;
    border-radius: 5px;
    position: relative;
    transition: background-image 0.5s ease-in-out;
}

.service-box.box1:hover {
    background-image: url(../images/hair-cutting.png);
    background-size: cover;
}

.service-box.box2:hover {
    background-image: url(../images/triming.png);
    background-size: cover;
}

.service-box.box3:hover {
    background-image: url(../images/haircut-trimming.png);
    background-size: cover;
}

.service-box.box1:hover .image1 {
    background: url(../images/cutting-white.png) no-repeat;
}

.service-box.box2:hover .image2 {
    background: url(../images/trimmer-white.png) no-repeat;
}

.service-box.box3:hover .image3 {
    background: url(../images/hair-trim-white.png) no-repeat;
}

.service-box .image {
    height: 55px;
    width: 55px;
    display: inline-block;
}

.service-box .image1 {
    background: url(../images/cutting.png) no-repeat;
}

.service-box .image2 {
    background: url(../images/trimmer.png) no-repeat;
}

.service-box .image3 {
    background: url(../images/hair-trim.png) no-repeat;
}

.service-box .name {
    font-size: 15px;
    font-weight: 600;
    color: #222222;
    text-transform: uppercase;
    margin: 10px 0 45px;
}

.service-box .price {
    color: #737373;
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 25px;
}

.service-box .from {
    color: #737373;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

.service-box .from span {
    font-size: 22px;
    color: #cf9d1a;
    font-weight: 500;
}

.service-box:hover .name,
.service-box:hover .price,
.service-box:hover .from {
    color: #fff;
}


/*end services-section*/


/*start gallery section*/

.our-gallery {
    padding: 100px 0;
}

.gallery-image {
    width: 100%;
    margin-top: 15px;
}

.gallery-image a {
    float: left;
    overflow: hidden;
    border-radius: 5px;
}

.gallery-image a img {
    width: 100%;
    float: left;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.gallery-image a img:hover {
    -webkit-filter: none;
    /* Safari 6.0 - 9.0 */
    filter: none;
}

.gallery-image a:hover img {
    transform: scale(1.1);
}

.row.gallery {
    margin-top: 35px;
}


/*end gallery section*/


/*start testimonials section*/

.testimonials {
    padding: 100px 0;
    background: #f9f6f2;
}

.quote {
    margin: 50px 0 40px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.testimonials .owl-carousel {
    text-align: center;
}
.testimonials .owl-carousel .owl-nav .owl-prev,
.testimonials .owl-carousel .owl-nav .owl-next{
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    font-size: 30px;
    color: #333;
}

.testimonials .owl-carousel .owl-nav .owl-prev{
    left:0;
}
.testimonials .owl-carousel .owl-nav .owl-next{
    right:0;
}
.test-text h4 {
    color: #4a4a4a;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.7;
    width: 70%;
    margin: 0 auto 30px;
}

.test-text .user-image {
    display: inline-block;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
}

.test-text .user-image img {
    width: 100%;
}

.test-text .name::before {
    content: '';
    width: 100px;
    height: 3px;
    position: absolute;
    background: #d2a118;
    transform: translate(-50%);
    left: 50%;
    top: 0;
}

.test-text .name::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background: #e1e1e1;
    transform: translate(-50%);
    left: 50%;
    top: 2px;
}

.test-text .name {
    padding-top: 25px;
    margin-top: 25px;
    font-size: 22px;
    font-weight: 400;
    color: #000;
    position: relative;
}

.test-text .date {
    font-size: 12px;
    letter-spacing: 1px;
    color: #4a4a4a;
    margin: 0;
}

.testimonials .owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
    top: 50px;
}

.testimonials .owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    height: 12px;
    width: 12px;
    background: #d4d1ce;
    border-radius: 50%;
    margin: 0 5px;
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.testimonials .owl-carousel .owl-dots .owl-dot.active {
    background: #d2a118;
}


/*end testimonials section*/


/*start video section*/

.video {
    padding: 150px 0;
    background-image: url(../images/video-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;
    position: relative;
}

.video::before {
    content: '';
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .7;
}

.video a {
    font-size: 70px;
    color: #fff;
    font-size: 60px;
    color: #fff;
    width: 120px;
    height: 120px;
    display: inline-block;
    line-height: 120px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
}

.video a i {
    transition: none;
}

.video a:hover {
    background: #fff;
    color: #cf9d1a;
}

.YouTubePopUp-Wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 9999999999999;
}

.YouTubePopUp-animation {
    opacity: 0;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: YouTubePopUp;
    animation-name: YouTubePopUp;
}

@-webkit-keyframes YouTubePopUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes YouTubePopUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body.logged-in .YouTubePopUp-Wrap {
    /* For WordPress */
    top: 32px;
    z-index: 99998;
}

.YouTubePopUp-Content {
    max-width: 680px;
    display: block;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.YouTubePopUp-Content iframe {
    max-width: 100% !important;
    width: 100% !important;
    display: block !important;
    height: 480px !important;
    border: none !important;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.YouTubePopUp-Hide {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: YouTubePopUpHide;
    animation-name: YouTubePopUpHide;
}

@-webkit-keyframes YouTubePopUpHide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes YouTubePopUpHide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.YouTubePopUp-Close {
    position: absolute;
    top: 0;
    cursor: pointer;
    bottom: 528px;
    right: 0px;
    margin: auto 0;
    width: 24px;
    height: 24px;
    background: url(../images/close.png) no-repeat;
    background-size: 24px 24px;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
}

.YouTubePopUp-Close:hover {
    opacity: 0.5;
}

@media all and (max-width: 768px) and (min-width: 10px) {
    .YouTubePopUp-Content {
        max-width: 90%;
    }
}

@media all and (max-width: 600px) and (min-width: 10px) {
    .YouTubePopUp-Content iframe {
        height: 320px !important;
    }
    .YouTubePopUp-Close {
        bottom: 362px;
    }
}

@media all and (max-width: 480px) and (min-width: 10px) {
    .YouTubePopUp-Content iframe {
        height: 220px !important;
    }
    .YouTubePopUp-Close {
        bottom: 262px;
    }
}

html body .row .padd-none {
    padding: 0;
}


/*end  video section*/


/*start contact-form*/

.contact-form {
    padding: 40px 60px;
}

.contact-form .page-heading {
    text-align: left;
}

.contact-form .info {
    margin-top: 50px;
}

.contact-form .info ul li {
    margin-bottom: 20px;
    color: #222222;
    font-size: 15px;
    display: flex;
}

.contact-form .info ul li:last-child {
    margin-bottom: 0;
}

.contact-form .info ul li i {
    color: #d2a118;
    width: 35px;
    text-align: center;
    font-size: 16px;
}

.contact-form .form {
    margin-top: 50px;
}

.contact-form .form .input-field {
    position: relative;
}

.contact-form .form .input-field i {
    position: absolute;
    color: #d2a118;
    font-size: 16px;
    left: 15px;
    top: 15px;
}

.contact-form .form .input-field input {
    box-sizing: border-box;
    padding-left: 30px;
    margin-bottom: 35px;
    box-shadow: none !important;
}

.contact-form .form .input-field label {
    padding-left: 30px;
}

.contact-form .form .input-field textarea {
    border: 1px solid #dedede;
    min-height: 100px;
    box-sizing: border-box;
    padding-left: 10px;
}

.contact-form .form .input-field textarea:focus,
.contact-form .form .input-field textarea.materialize-textarea:focus:not([readonly]) {
    border-color: #d2a118;
    box-shadow: none;
}

.contact-form .form .input-field textarea+label {
    padding-left: 10px;
}

.contact-form .form .btn {
    padding: 10px 40px;
    font-size: 15px;
}


/*end contact-form*/


/*start footer*/

footer {
    padding: 50px 0 0;
    background: url(../images/footer.png) no-repeat;
    background-size: cover;
    position: relative;
    z-index: 99;
}

footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #111;
    opacity: .9;
    z-index: -1;
}

.footer-logo {
    margin-bottom: 20px;
}

.f-links h4 {
    color: #d2a118;
    font-size: 16px;
    margin: 0 0 15px;
    font-weight: normal;
}

.f-links ul li {
    margin: 0 0 15px;
    color: #fff;
    font-size: 15px;
}

.f-links ul li:last-child {
    margin: 0;
}

.f-links ul li a {
    color: #fff;
    font-size: 15px;
}

.copyright {
    margin: 40px 0 0;
    padding: 25px 0;
    border-top: 1px solid #404040;
    color: #dadada;
    font-size: 13px;
}

.download-btn {
    margin-top: 15px;
}

.download-btn a {
    background: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 5px;
    margin: 0 5px;
}

.download-btn a:hover {
    background: #d2a118;
    color: #fff;
}

.download-btn a i {
    font-size: 20px;
    margin-right: 10px;
    transition: none;
}

.social-btns {
    margin-top: 40px;
}

.social-btns li {
    display: inline-block;
}

.social-btns li a {
    font-size: 24px;
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.social-btns li a:hover {
    background: #cf9d1a;
    color: #fff;
    border-radius: 50%;
}


/*end footer*/


/*start other page*/

.page-banner {
    background-image: url(../images/page-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 0 100px;
    position: relative;
    z-index: 9;
    background-position: 100%;
    min-height: 450px;
}

.page-banner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .7;
    z-index: -1;
}

.page-banner h1 {
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 50px;
}

.page-text {
    line-height: 2;
    padding: 70px 0;
}

.page-text table tr:first-child {
    border-top: 1px solid #ddd;
}

.page-text table tr {
    border-bottom: 1px solid #ddd;
}

.page-text h1,
.page-text h2 {
    font-size: 36px;
    margin: 15px 0;
    color: #e7bc00;
}


/*end other page*/


/*start how-it-work*/

.how-it-work {
    padding: 80px 0;
}

.how-box {
    text-align: center;
    margin-top: 60px;
}

.how-box img {
    height: 100px;
}

.how-box p {
    font-size: 18px;
    color: #555;
}

.how-right {
    position: relative;
}

.how-right::before {
    content: "\f0a4";
    position: absolute;
    font-family: fontawesome;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #ddd;
}

.how-box:hover img {
    transform: rotate(-15deg);
}


/*end how-it-work*/


/*start joinus-page*/

.joinus-page {
    position: relative;
}

.joinus-form {
    position: relative;
    height: 100vh;
    float: left;
    width: 100%;
}

.joinus-form h3.title {
    font-size: 30px;
    text-align: center;
    margin: 75px 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    color: #222;
}

.form-page {
    background: #d2a118;
}

.barber-form h3.title {
    color: #fff;
}

.join-form {
    width: 325px;
    max-width: 100%;
    margin: auto;
}

.join-form .input-field {
    position: relative;
    margin-top: 0;
    margin-bottom: 30px;
}

.join-form .input-field label {
    padding-left: 30px;
}

.join-form .input-field input {
    padding-left: 30px;
    margin-bottom: 0;
    box-sizing: border-box;
}

.join-form .input-field .fa {
    position: absolute;
    color: #bdbdbd;
    font-size: 16px;
    top: 14px;
    left: 0;
    width: 30px;
    text-align: center;
}

.barber-form .input-field input {
    color: #fff;
    border-color: #fff;
}

.barber-form .input-field label {
    color: #fff !important;
}

.barber-form .join-form .input-field i {
    color: #fff;
}

.barber-form .input-field input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-color: #fff;
    box-shadow: none;
}

.join-form .btn {
    padding: 22px 40px;
    border-radius: 5px;
    line-height: 0;
    background: #d2a118;
    color: #fff;
}

.barber-form .join-form .btn {
    background: #fff;
    color: #d2a118;
}

.barber-form .join-form .btn:hover,
.join-form .btn:hover {
    background: #292929;
    color: #fff;
}

.form-services {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}

.form-services [type="checkbox"]+label:before,
[type="checkbox"]:not(.filled-in)+label:after {
    border-radius: 2px;
}

[type="checkbox"]+label:before,
[type="checkbox"]:not(.filled-in)+label:after {
    border: 2px solid #fff;
}

.form-services [type="checkbox"]:checked+label:before {
    border-bottom-color: #fff;
    border-right-color: #fff;
}

.form-services label {
    float: left;
    width: 100%;
    color: #fff;
    margin-bottom: 10px;
}

.back-home {
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 99;
}


/*end joinus-page*/


/*start faq page*/

.faq-section .collapsible-header {
    background: #f7f7f7;
}

.collapse-ul {
    padding-left: 40px !important;
}

.collapse-ul li {
    list-style: circle !important;
}

.faq-section .collapsible-body p {
    margin-top: 0;
}

.left-padd-none {
    padding-left: 0 !important;
}


/*end faq page*/


/*start responsiveness*/

@media only screen and (max-width: 1300px) {
    .navigation li a{
        font-size: 13px;
        padding: 10px 10px;
    }
}

@media only screen and (max-width: 1200px) {
    .banner-text h1 {
        font-size: 45px;
    }
    .logo img {
        width: 130px;
    }
    .service-box {
        min-height: 310px;
    }
    .service-box .name {
        min-height: 35px;
    }
    .download-btn a {
        font-size: 12px;
        padding: 15px 20px;
    }
    .joinus-form h3.title {
        margin-bottom: 25px;
    }
    
}

@media only screen and (max-width: 940px) {
    .welcome-image {
        width: 100%;
    }
    .app-slides {
        width: 144px;
        top: 38px;
        left: 30px;
    }
    .welcome-text {
        padding: 0;
    }
    .welcome-text h1 {
        font-size: 30px;
        margin: 0 0 20px;
    }
    .welcome-text p {
        font-size: 15px;
    }
    .navigation li a{
        font-size: 11px;
        padding: 10px 5px;
    }
}

@media only screen and (max-width: 768px) {
    .navigation ul {
        position: absolute;
        left: 0;
        background: #292929;
        top: 75px;
        width: 100%;
        padding-bottom: 15px;
    }
    .navigation li a {
        padding: 10px 15px;
        text-align: center;
    }
    .banner-text h1 {
        font-size: 24px;
    }
    .banner-text h3 {
        font-size: 18px;
    }
    .how-right::before {
        display: none;
    }
    .joinus-form h3.title {
        font-size: 24px;
    }
    .joinus-form {
        width: 100%;
    }
    .navigation li:last-child a.joinus-link{
        margin-top: 10px;
    }
    .joinus-link{
        margin-left: 10px;
        margin-right: 10px;
    }
    .f-links ul li a{
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .welcome-image {
        width: 350px;
        margin: 0 auto;
    }
    .app-slides {
        width: 247px;
    }
    .app-slides {
        top: 65px;
        left: 51px;
    }
    .welcome-text h1 {
        text-align: center;
    }
    .welcome {
        padding: 80px 0 50px;
    }
    .our-services {
        background-image: none;
    }
    .test-text h4 {
        font-size: 15px;
    }
    .contact-form {
        padding: 40px 15px;
    }
    footer .download-btn {
        text-align: left;
    }
    footer .download-btn a {
        margin-left: 0;
        margin-right: 15px;
    }
    .social-btns {
        text-align: left;
    }
    .f-links.right-align {
        text-align: left;
        margin-top: 25px;
    }
    .social-btns {
        margin-top: 25px;
    }
    .page-banner h1 {
        font-size: 20px;
    }
    .page-banner {
        min-height: auto;
        padding: 100px 0 50px;
    }
    .page-text h1,
    .page-text h2 {
        font-size: 20px;
    }
    .banner {
        background-position: 30%;
    }
}

@media only screen and (max-width: 414px) {
    .banner-text h1 {
        font-size: 20px;
    }
    .welcome-image {
        width: 280px;
    }
    .app-slides {
        width: 199px;
        top: 52px;
        left: 41px;
    }
    .welcome-text h1 {
        font-size: 22px;
        margin-top: 0ex
    }
    footer .download-btn a {
        margin-bottom: 10px;
    }
    .fixedHeader .logo img {
        width: 120px;
    }
}


/*end responsiveness*/ 